
.nama-nav{
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    padding: 0px 20px;
    margin: auto;
    text-shadow: 2px 2px 5px #f9f9f9; 
}

.nama-nav:hover{
text-shadow: 2px 2px 5px #d09bdb;
}
body{
background-image: linear-gradient(to right, #5994ce,#b957ce);
background-attachment:scroll;
display: grid;
}

img{
width: 20vw;
height: auto;
}

.name {
position: fixed;
top: 30vw;
left: 15vw;
}
.kartu {
position: relative;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
margin-bottom: 5%;
padding-block-end: 10vw;
opacity: 95%;
}

.card-1 {
position: relative;
border-radius: 20px;
width: 50rem;
box-shadow: 0 0px 12px white;
background-color: aliceblue;
  
   
}
.card-1:hover{
background-image:linear-gradient( white, #b7d4ec);
}
.card-2 {
position: relative;
top: 5%;
border-radius: 20px;
width: 50rem;
background-color: aliceblue;
box-shadow: 0 0px 12px white;
}

.card-2:hover{
background-image:linear-gradient( white,#b7d4ec);

}

.card-3 {
position: relative;
top: 10%;
border-radius: 20px;
width: 50rem;
box-shadow: 0 0px 12px white;
background-color: aliceblue;
}
.card-3:hover{
background-image:linear-gradient( white, #b7d4ec);

}
.card-img-top {
border-radius: 20px;
padding: 10px;
}
a {
display: inline-block;
border-radius: 20px;
background-color: #6957ce;
color: white;
padding:  6px 15px;
text-decoration: none;
align-content: center;
margin-top: 3%;
}
a:hover {
box-shadow:2px 2px 3px rgb(110, 110, 110);
color: white;
text-decoration-color: none;

}

#jam{
display: inline-block;
border-radius: 25px;
color: #6957ce;
padding: 5px 15px;
background-color: white;
position: relative;
margin: auto;
width: 8rem;
text-align: center;
box-shadow: 0 0 10px plum;

}
p{
position: relatives;
margin-top: auto;
margin-bottom: auto;
padding: 0 20px;
color: white;
opacity: 80%;
font-size: 24px;
font-family: 'Bebas Neue', cursive;

}


@media only screen and (max-width: 991.5px) {
/* For mobile phones: */
    .kartu {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 25%;
    padding-block-end: 10vw;
    opacity: 95%;
    }
    .card-2 {
    width: 16rem;
    border-radius: 20px;
    background-color: whitesmoke;
    position: relative;

    }
    .card-1 {
    width: 16rem;
    border-radius: 20px;
    background-color: whitesmoke;
    position: relative;
    }
    .card-3 {
    width: 16rem;
    border-radius: 20px;
    background-color: whitesmoke;
    position: relative;
    }
    .nama-nav{
    font-size: 36px;
    position: relative;
    text-align: center;

    }
    p{
    font-size: 18px;
    margin: auto;
    }
    body{
    background-image: linear-gradient(to right,  #5994ce, #a35fb3);
    }
    #jam{
    display: none;
    }
  
}